workflows_templates/AI_Overviews_Extractor_Plugin.json
{
  "name": "AI Overviews Extractor Plugin",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-overview-extractor",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1100,
        -260
      ],
      "id": "9797abf6-1d8b-420a-9083-1e2993d6f1d3",
      "name": "Webhook",
      "webhookId": "6b96fa32-a2d3-4b54-9d99-a48cf5685567"
    },
    {
      "parameters": {
        "html": "={{ $json.htmlContent }}",
        "destinationKey": "markdown",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -660,
        -260
      ],
      "id": "0580df25-ca4b-4d5c-8f04-970fd0c47bba",
      "name": "Markdown"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5ac7498-8037-4daf-8964-c41a9e2c0ddd",
              "name": "htmlContent",
              "value": "={{ $json.body.aiOverview.htmlContent }}",
              "type": "string"
            },
            {
              "id": "96170e13-fed1-4f4d-a993-c1487d254b2c",
              "name": "sources",
              "value": "={{ $json.body.sources }}",
              "type": "array"
            },
            {
              "id": "79f421d4-3da7-4817-9f38-e26c49b8bd47",
              "name": "extractedAt",
              "value": "={{ $json.body.metadata.extractedAt.toDateTime().format('yyyy-MM-dd HH:mm') }}",
              "type": "string"
            },
            {
              "id": "d7129419-db99-40e7-96d2-7893f9474182",
              "name": "searchQuery",
              "value": "={{ $json.body.searchQuery }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        -260
      ],
      "id": "aa92ba2b-a297-4b5c-a49e-da0e133391e4",
      "name": "data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        125
      ],
      "id": "de56d3bd-3967-4254-a683-e9390ca1f067",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/15xqZ2dTiLMoyICYnnnRV-HPvXfdgVeXowr8a7kU4uHk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/15xqZ2dTiLMoyICYnnnRV-HPvXfdgVeXowr8a7kU4uHk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "task",
              "lookupValue": "create guidelines"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -880,
        225
      ],
      "id": "27b5ddc1-8c68-4c22-906a-23145e559cfa",
      "name": "getRows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yTQwBHgpFHqp2Mxw",
          "name": "gSheets roman@ibb.media"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/15xqZ2dTiLMoyICYnnnRV-HPvXfdgVeXowr8a7kU4uHk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/15xqZ2dTiLMoyICYnnnRV-HPvXfdgVeXowr8a7kU4uHk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "={{ $json.searchQuery }} {{ $json.extractedAt }}",
            "extractedAt": "={{ $json.extractedAt }}",
            "searchQuery": "={{ $json.searchQuery }}",
            "sources": "={{ $json.sources.map(item => `- ${item.title} : ${item.url}`).join('\\n') }}",
            "markdown": "={{ $json.markdown }}"
          },
          "matchingColumns": [
            "key"
          ],
          "schema": [
            {
              "id": "extractedAt",
              "displayName": "extractedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "searchQuery",
              "displayName": "searchQuery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sources",
              "displayName": "sources",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "markdown",
              "displayName": "markdown",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "myURL",
              "displayName": "myURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "guidelines",
              "displayName": "guidelines",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -440,
        -260
      ],
      "id": "4e17ce6a-7115-4078-8b62-a031ab831d17",
      "name": "updateRows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yTQwBHgpFHqp2Mxw",
          "name": "gSheets roman@ibb.media"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "feb9922a-de0c-41d8-93d7-1f92ee7398b2",
              "leftValue": "={{ $json.myURL }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -440,
        225
      ],
      "id": "60e9c655-8852-47ce-95e7-3ad1a6d6de71",
      "name": "myURL Exists"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# SŁOWO KLUCZOWE: \n{{ $('singleRow').item.json.searchQuery }}\n\n# TREŚĆ STRONY: \n{{ $json.data }}\n\n# TREŚĆ AI OVERVIEWS:\n{{ $('singleRow').item.json.markdown }}\n\n",
        "messages": {
          "messageValues": [
            {
              "message": "=Nazywasz się Alice jesteś pomocnym asystentem.\n\nUżytkownik dostarczy Ci: \n- SŁOWO KLUCZOWE\n- TREŚĆ STRONY\n- AI OVERVIEWS (Przegląd od Google)\n\nAlice doskonale zna się na wynikach AI Overviews (Przegląd od AI) i dostosowywanie treści do wymagań AI Overviews (Przegląd od AI).\n\nZadaniem Alice jest przygotować treść, kóra należy ma być umieszczona na stronie. Ta treść ma być tym, czego brakuje w TREŚĆ STRONY, a jest w AI OVERVIEWS.\n\nAlice odpowiada w formacie Markdown bezpośrednio i daje tylko odpowiedź z informacją o tym co ma być umieszczone i zaczyna bezpośrednio treśćią.\n\nAlice nie korzysta z bloku ``` zaczynając odpowiedź.\n\n<writing_guidelines>\n- Alice DO NOT include the CURRENT SECTION name in response.\n- Alice write regular hyphens (-) instead of en dashes (–) or em dashes (—) .\n- Alice don't reapeat CONTENT LEAD / INTRODUCTION in response.\n- Alice begins with the most crucial and relevant information that directly addresses the key points of the CURRENT SECTION. - - Alice ensures the answer is at the top.\n- Alice is specific and create useful text. Alice provides specific, useful, and actionable information without superfluous content.\n- Clarity and precision: be certain and specific. Cut the fluff. Bold important terms, definitions, and their entire explanations. For example: **No contact: This refers to completely cutting off communication with an ex-partner as a crucial step in the emotional healing process.**\n- Inclusive language: include diverse perspectives and inclusive language.\n- Uniqueness and alignment: ensure the content is unique, **does not repeat information from the CONTENT LEAD, other SECTIONS from the SECTION LIST**, and aligns with the overall topic. Do not discuss or reference topics covered in other sections.\n- No summarization: do not include summarization or recapitulation.\n- Readability: ensure the text is highly readable, using short sentences, simple words, and clear, concise language.\n- Grammar and style: avoid grammatical and stylistic errors. Ensure proper punctuation and sentence structure.\n- MARKDOWN formatting: ensure all tags are properly used and closed. Do not use class or id attributes.\n- Consistency: maintain consistency in terminology and style throughout the content.\n- Expertise: demonstrate expertise and authority in the subject matter. Use reliable sources and evidence to support statements.\n- Engagement: write in an engaging manner to keep the reader interested. Use storytelling, analogies, and examples where appropriate.\n- Avoid creating subheadings\n- To create inline code, wrap with backticks ` .\n- To create a code block, either indent each line by 4 spaces, or place 3 backticks ``` on a line above and below the code block.\n</writing_guidelines>\n\n<language>\n- Use concise, clear wording.\n- Start questions with \"what,\" \"how,\" and \"should\" (but avoid overusing \"How to\").\n- Incorporate action verbs (e.g., improves, increases, prevents).\n- Focus on benefits, risks, and factual information.\n- Use specific terms related to the topic.\n- Avoid generic terms like \"Introduction\", \"Overview\", \"Complete\", \"Ultimate\", \"Definitive\".\n- Use phrases like \"What is it?\" or \"What is…\" instead of writing \"Definition\".\n- Don't use phrases like \"everything you need to know\" or \"a deep dive into\".\n- Skip words like \"essential\", \"crucial\", \"vital\".\n- Omit \"In Today's World\" or \"Modern Approach to\".\n- Avoid buzzwords/jargon unless necessary.\n- Don't start with \"understanding\" or \"exploring\".\n- Exclude filler words like \"really\", \"actually\", \"basically\".\n- Limit use of gerunds (e.g., \"understanding\", \"implementing\", \"analyzing\").\n- Don't use capital letter after \":\" sign.\n- Use the spelling, case and grammar rules for the **TREŚĆ STRONY** language\n- Cover various aspects of a topic (benefits, risks, types, comparisons).\n- Include relevant numerical data.\n- Address common questions and misconceptions.\n- Provide practical advice and recommendations.\n- Don't use \"conclusion\" or \"summary\" .\n</language>\n\n\n<seo_nlp_optimization>\nEnsure the content aligns with SEO best practices and NLP techniques to enhance readability and search engine visibility. Highlight the most relevant information at the beginning of each section.\n</seo_nlp_optimization>\n\nZacznij bezpośrednio informacjami, które należy dodać aby znaleźć się w AI Overviews. Nic więcej, nic mniej.\n"
            },
            {
              "type": "AIMessagePromptTemplate",
              "message": "=TREŚĆ do DODANIA:\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        880,
        0
      ],
      "id": "d018e20b-0229-4756-9d38-252114af8f39",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "title"
            },
            {
              "key": "h1",
              "cssSelector": "h1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        440,
        200
      ],
      "id": "3a084e8d-1846-48bf-8600-a44cc2f93c2e",
      "name": "HTML"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        100
      ],
      "id": "1afc4b07-e3aa-4a01-a99f-240e50ca379d",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "={{ $json.myURL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        100
      ],
      "id": "775de9f2-1785-4825-97c7-53d9d3fe7e1a",
      "name": "getPage"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -220,
        225
      ],
      "id": "e06db3e0-0744-42bd-811f-66fe269a7911",
      "name": "loopOverRows"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "a262f0d4-4763-473d-b50a-21f0b9401c56",
      "name": "md"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        100
      ],
      "id": "de25cba9-52c6-4843-89d6-504323957d9e",
      "name": "singleRow"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-preview-05-20",
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        900,
        260
      ],
      "id": "32de01f1-6bcc-48bb-81b4-21bd06d2e722",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "cxxykvBVJ4BwAWb8",
          "name": "openrouter nimblio"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/15xqZ2dTiLMoyICYnnnRV-HPvXfdgVeXowr8a7kU4uHk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/15xqZ2dTiLMoyICYnnnRV-HPvXfdgVeXowr8a7kU4uHk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('singleRow').item.json.row_number }}",
            "guidelines": "={{ $json.text }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "extractedAt",
              "displayName": "extractedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "searchQuery",
              "displayName": "searchQuery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sources",
              "displayName": "sources",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "markdown",
              "displayName": "markdown",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "myURL",
              "displayName": "myURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "guidelines",
              "displayName": "guidelines",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1260,
        100
      ],
      "id": "61bb5389-3950-4cdc-99d3-e50a551375e6",
      "name": "updateGuideLines",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yTQwBHgpFHqp2Mxw",
          "name": "gSheets roman@ibb.media"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1100,
        325
      ],
      "id": "63577fd7-297e-4de9-a3f7-0fee6c20ff72",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1476,
        225
      ],
      "id": "395a53a8-4377-4cc9-be07-e0193fa91d5f",
      "name": "Wait",
      "webhookId": "b097c67c-534f-4a67-afb8-c0808a796650"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -660,
        225
      ],
      "id": "d1ef6709-0c31-4fec-a2d5-041b401f6e36",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "updateRows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "getRows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRows": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "myURL Exists": {
      "main": [
        [
          {
            "node": "loopOverRows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "getPage": {
      "main": [
        [
          {
            "node": "md",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loopOverRows": {
      "main": [
        [],
        [
          {
            "node": "singleRow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "md": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "singleRow": {
      "main": [
        [
          {
            "node": "getPage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "updateGuideLines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateGuideLines": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "getRows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "loopOverRows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "myURL Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14d0084f-5f4e-47b9-ba9f-1af668eaec5b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8794a4f970040d09c64040698c632aefaa9a59e97e60424e4b5671338351753"
  },
  "id": "2mC2xZWShk1Cyiao",
  "tags": []
}